body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('depositivomadera.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}

header {
    background-color: #A0522D; /* Fondo azul */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.seccion {
    background-color: rgba(255, 255, 255, 0.8); /
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000; /
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A0522D; 
    color: #333333;
}

.header {
    text-align: center;
    background-color: #A0522D; 
    color: #fff;
    padding: 20px 0;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 18px;
    margin: 0;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

strong {
    font-weight: bold;
}



